<form action ="/login" method='POST'>
  <h3>Welcome to the Registration Page!</h3>
  <label>Enter E-mail</label>
  <input type= 'email' name= 'email' placeholder="example@example.com">

  <label>Enter Password</label>
  <input type= 'password' name= 'password' placeholder="enter password">
  <button type='submit'>Login</button>
</form>